body{
    background-color: #0f121f;
    /*background-image: url(background.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
}

#logo{
    width:20%;
    top:0;
    left:0;
}

body *{
    font-family: Ubuntu, serif;
}

h1,h2,h3,h4,h5{
    font-weight: normal;
    margin: 0;
}

a,a:hover,a:visited{
    text-decoration: none;
    color: #fff;
}